.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;

  align-items: center;
}

.form input {
  padding: 10px;
  border-radius: 6px;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  font-size: 1.5rem;
}

.form button {
  font-size: 2rem;
  width: 100%;
  min-width: 200px;
  max-width: 150px;
  height: 50px;
  border-radius: 6px;
  background-color: rgb(92, 92, 92);
}
